[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-nextinpact
Exec=harbour-nextinpact
Name=NextInpact
# translation example:
# your app name in German locale (de)
Name[de]=NextInpact

